// these styles are intended to be imported into consumers
// that render content that was created by PW

@import './vars';
@import './fonts';

#{$pwContentWrapperClass} {
    p {
        line-height: var(--#{$prefix}content-line-height);
        margin: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--#{$prefix}content-link-color);
    }

    /* Blockquote */
    blockquote {
        background-color: var(--#{$prefix}blockquote-background-color);
        border-left: var(--#{$prefix}blockquote-border);
        border-radius: 1px;
        color: var(--#{$prefix}blockquote-color);
        font-family: var(--#{$prefix}blockquote-font-family);
        font-size: 1.4em;
        font-style: italic;
        line-height: 1.6;
        margin: 50px auto;
        padding: 1.2em 10% 1.2em 10%;
        position: relative;
    }

    /* CodeBlock */
    pre > code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
    }

    /* Spacer */
    span[data-spacer-size] {
        display: inline-block;
        letter-spacing: 12px;
    }

    span[data-spacer-size='tab'] {
        /* Google doc uses 50px as exact size for tab space. */

        /* The `letter-spacing` used here is actually the width of the spacer */

        /* Note that the actual rendered width will be 50px + width of the space */

        /* character. */
        letter-spacing: 50px;
    }

    span[data-spacer-size='tab-large'] {
        /* Google doc uses 50px as exact size for tab space. */

        /* The `letter-spacing` used here is actually the width of the spacer */

        /* Note that the actual rendered width will be 50px + width of the space */

        /* character. */
        letter-spacing: 280px;
    }

    hr[data-page-break] {
        height: 0;
        margin: 0;
        page-break-before: always;
        visibility: hidden;
    }

    .#{$prefix}font-size-mark {
        line-height: var(--#{$prefix}content-line-height);
    }
}
