.#{$prefix}cursor-placeholder {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}

.#{$prefix}cursor-placeholder::after {
  background-color: var(--#{$prefix}selection-highlight-color-dark);
  bottom: 0;
  content: '';
  height: 1.2em;
  left: -1px;
  position: absolute;
  width: 3px;
  -webkit-animation-name: #{$prefix}cursor_blink;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes #{$prefix}cursor_blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
