.#{$prefix}image-url-editor {
  background: #fff;
  box-shadow: var(--#{$prefix}overlay-shadow);
  font-family: var(--#{$prefix}font-family);
  font-size: var(--#{$prefix}font-size);
  padding: 4px 10px;
}

.#{$prefix}image-url-editor .#{$prefix}form {
  max-width: 90vw;
  min-width: 40vw;
  width: 500px;
}

.#{$prefix}image-url-editor-src-input-row {
  position: relative;
}

.#{$prefix}image-url-editor-src-input-row input.#{$prefix}image-url-editor-src-input {
  padding-right: 40px;
}

.#{$prefix}image-url-editor-input-preview {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 1px #fff;
  box-sizing: border-box;
  outline: var(--#{$prefix}border-blue);
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 1px;
  width: 36px;
}
